/* Réinitialisation des marges et des bordures par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Définition du style global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Section de contenu */
.content {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.content h2 {
    font-size: 2em;
    color: #333;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Styles de l'image */
.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 5px solid #ddd;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}